:root {
    --Orange: #FEA301;
    --Black: #111;
    --Sky-Blue: #01ACFD;
    --White: #F7F7F7;
    --color_1: rgba(5, 212, 223, 1);
    --color_2: rgba(93, 88, 239, 1);
    --color_3: rgba(149, 178, 38, 1);
    --color_4: #808080;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", serif;
}

/*================
    Shared CSS 
==================*/

.container {
    max-width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 197px;
    padding: 10px;
    border-radius: 12px;
    background: var(--Orange);
    border: none;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
}

.btn2 {
    color: #FFF;
    font-family: Quicksand;
    font-size: 1.25rem;
    font-weight: 700;
    border-radius: 12px;
    background: var(--Black);
    display: flex;
    width: 197px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img-fluid {
    width: 100%;
}

.color-1 {
    color: var(--Orange);
    font-size: 1.25rem;
    font-weight: 700;
}

.color-2 {
    color: var(--Sky-Blue);
    font-size: 1.25rem;
    font-weight: 700;
}

.color-3 {
    color: var(--color_1);
    font-size: 1.25rem;
    font-weight: 700;
}

.color-4 {
    color: var(--color_2);
    font-size: 1.25rem;
    font-weight: 700;
}

.font-1 {
    color: var(--Orange);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.813rem;
}

.font-2 {
    color: var(--Black);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.813rem;
}

.font-3 {
    color: var(--Sky-Blue);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.813rem;
}

.font-4 {
    color: var(--Black);
    font-size: 1.25rem;
    font-weight: 400;
}

.font-5 {
    color: var(--Black);
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
}

.font-6 {
    color: var(--Black);
    font-size: 1.533rem;
    font-weight: 700;
}

.font-7 {
    color: var(--color_4);
    font-size: 0.943rem;
    font-weight: 500;
    line-height: 28.296px;
    text-align: center;
}

.arrow {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--Orange);
}

/* ==================
    NavBar Section
==================== */

.header {
    background-color: var(--White);
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}


.header .link-item {
    display: flex;
    align-items: center;
    gap: 11px;
}

.header .logo-text {
    color: var(--Black);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
}

.header .nav-menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

/* Humbarger Menu */

.header .hamburger {
    display: none;
    cursor: pointer;
}

.header .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 3px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--Black);
}

/* Hero Section */

.header .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .hero-content {
    width: 640px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

/* ====================
    Curriculum Section
======================== */

.curriculum {
    padding: 60px 0;
    background: url(../img/bg.png) var(--White) no-repeat 50% 0% / cover;
}   

.curriculum .curriculum-item {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.curriculum .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.curriculum .card-1 {
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    border-radius: 18.864px;
    border: 0.943px solid #DEF5FF;
    background: linear-gradient(180deg, #DEF5FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum .card-1 a {
    color: var(--Sky-Blue);
    font-size: 0.943rem;
    font-weight: 700;
    line-height: 28.296px;
}

.curriculum .card-2 {
    display: flex;
    width: 367.805px;
    height: 481.5px;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    border-radius: 18.864px;
    border: 0.943px solid #FFF4DC;
    background: linear-gradient(180deg, #FFF4DC 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum .card-2 a {
    color: var(--Orange);
    font-size: 0.943rem;
    font-weight: 700;
    line-height: 28.296px;
}

.curriculum .card-3 {
    display: flex;
    width: 367.805px;
    height: 476.784px;
    padding: 52.819px 40.668px 53.762px 40.878px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32.069px;
    border-radius: 18.864px;
    border: 0.943px solid #F2E8FF;
    background: linear-gradient(180deg, #EEE1FF 0%, rgba(255, 255, 255, 0.00) 40%), #FFF;
    box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculum .card-3 a {
    color: var(--color_2);
    font-size: 0.943rem;
    font-weight: 700;
    line-height: 28.296px;
}

.curriculum .left-right-arrow {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}

